<html>
  <head>
  <style>
       body {
         background: <%= color %>
       }
     </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <font face = "comic sans ms" color = "white"> <%= message %>
    </p>
  </body>
</html>
